// https://coolors.co/264653-2a9d8f-e9c46a-f4a261-e76f51 color scheme
.abouticon{
    background: url('https://api.iconify.design/uim:polygon.svg?color=%232a9d8f') no-repeat center center / contain;
    width: 96px;
    height: 96px;
    display: flex;
    align-items: center;
    justify-content: center;
    svg{
        font-size: 36px;
        color: white;
        font-weight: bold;
    }
}
.details{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin: 0 8px;
    width: 100%;
}
.aboutp{
    display: flex;
    flex-direction: column;
    align-items: center;
    opacity: 0;
    width: 300px;
    text-align: center;
    p{
        font-size: 0.9rem;
        font-weight: bold;
    }
}
.aboutme{
    margin: 32px;
    h3{
        transform: translateX(-100vw);
        opacity: 0;
    }
}
@media only screen and (max-width: 1269px) and (min-width: 1101px){
    .aboutp { width: 25vw;}
}
@media only screen and (max-width: 1269px) and (min-width: 1100px){
    .aboutp { width: 20vw;}
}
@media only screen and (max-width: 1099px){
    .aboutp { width: 33vw;}
}