// https://coolors.co/264653-2a9d8f-e9c46a-f4a261-e76f51 color scheme
.abouticon{
    background: url('https://api.iconify.design/uim:polygon.svg?color=%232a9d8f') no-repeat center center / contain;
    width: 96px;
    height: 96px;
    display: flex;
    align-items: center;
    justify-content: center;
    svg{
        font-size: 36px;
        color: white;
        font-weight: bold;
    }
}
.details{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    width: 100%;
}
.aboutp{
    display: flex;
    flex-direction: column;
    align-items: center;
    opacity: 1;
    width: 25%;
    text-align: center;
    p{
        font-size: 0.9rem;
        font-weight: bold;
        line-height: 1.1;
    }
}
.aboutme{
    margin: 24px 8%;
    display: flex;
    flex-direction: column;
}
.section-t{
    opacity: 1;
    align-self: center;
    width: min-content;
    font-size:40px;
    color:black;
    display:inline-block;
    height:50px;
    box-shadow: 0 25px 0 -23px #5CC7A8;
}
.whoami{
    margin-top: 36px;
    display: flex;
    flex-direction: row;
    opacity: 0;
    .me{
        display: flex;
        flex-direction: column;
        width: 33%;
        align-items: center;
        p{
            text-align: center;
            line-height: 18px;
            font-size: 12px;
        }
        img{
            width: 240px;
        }
    }
    .myskills{
        width: 80%;
        margin-left: 80px;
    }
}
.flex-c {
	align-items: center;
	display: flex;
	flex-direction: column;
	justify-content: center;
}
@media only screen and (max-width: 1099px){

    .aboutp {
        width: 33vw;
        p{
            line-height: 0.9;
        }
    }
    .whoami{
        flex-direction: column;
        align-items: center;
        .me{
            width: 100%;
        }
        .myskills {
            margin-left: 0px;
            margin-top: 32px;
            width: 100%;
            .bar{
                h3{
                    width: 65px;
                    font-size: 10px;
                }
            }
        }
    }
}
