.barbox{
    display: flex;
    flex-direction: row;
    margin-top: 40px;
    h3{
        color: wheat;
        margin-right: 16px;
    }
    .bar {
        border: solid 12px blue;
        border-radius: 12px;
        transition: width, 1s;
        height: 12px;
        margin-top: 4px;
        color: white;
        width: 80px;
        font-weight: bold;
        line-height: 4px;
    }
    // .fill {opacity: 0;}
}
