@import url('https://fonts.googleapis.com/css?family=Open+Sans|Oswald|Oxygen+Mono|Roboto+Mono&display=swap');
$oxygen : 'Oxygen Mono', monospace;
$roboto : 'Roboto Mono', monospace;
$open-sans : 'Open Sans', sans-serif;
$oswald : 'Oswald', sans-serif;
.footer {
    background: #1b242f;
    width: 100%;
    display: flex;
    height: 140px;
    align-items: center;
    flex-direction: column-reverse;
    justify-content: space-evenly;
    color: rgba(0,0,0,0.3);
   }
  .footer-links {
    display: flex;
    align-items: center;
    padding-bottom: 16px;
  }
  .footer-links a {
    color: white;
    opacity: 0.6;
    text-decoration: none;
    font-size: 24px;
    padding: 0px 8px;
  }
  .footer-links svg:hover {
    color: yellowgreen;
  }
  .footer-copyright{
    color: white;
    font-family: $open-sans;
    padding-top: 8px;
  }
  .footer-links a:hover {
    opacity: 1;
  }
  // .page-wrap {
  //   min-height: 100%;
  //   /* equal to footer height */
  //   margin-bottom: -142px;
  // }
  // .page-wrap:after {
  //   content: "";
  //   display: block;
  // }
  // .site-footer, .page-wrap:after {
  //   height: 142px;
  // }
  html,body {
   height: 100%;
   position: relative;
  }
  #___gatsby {
   min-height: 100vh; /* will cover the 100% of viewport */
   overflow: hidden;
   display: block;
   position: relative;
   padding-bottom: 64px; /* height of your footer */
  }.footer {
   position: absolute;
   bottom: -12px;
   width: 100%;
  }