.banner {
    .img{
    background-image: url(https://images.unsplash.com/photo-1550645612-83f5d594b671?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&w=1000&q=80);
    -webkit-filter: blur(3px); //change the value according to what suits the best
    -moz-filter: blur(3px); //change the value according to what suits the best
    -o-filter: blur(3px); //change the value according to what suits the best
    -ms-filter: blur(3px); //change the value according to what suits the best
    filter: blur(3px); //change the value according to what suits the best
    width: 100%;
    height: 100%;
    }
    box-shadow: 0px 9px 9px 2px gray;
    margin-top: 8px;
    height: 350px;
    width: 100%;
    position: relative;
}
#text {
	position: absolute;
	font-size: 2rem;
	color: white;
	line-height: 28px;
	width: 100%;
	display: inline-flex;
	flex-wrap: wrap;
	justify-content: center;
	align-content: center;
	top: 50%;
	text-align: center;
}
a:active, a:focus {
    outline: 0;
    border: none;
    -moz-outline-style: none;
  }