.project{
   display: flex;
   flex-direction: column; 
   margin: 10% 0px;
   opacity: 0;
}
.tabs{
   display: flex;
   justify-content: space-evenly;
   margin-top: 80px;
   position: relative;
   span{
      padding: 24px;
      font-weight: bolder;
      color: black;
      transition: ease background-color,1s;
   }
}
.float-color {
	position: absolute;
	overflow: hidden;
	background-color: #f72585;
	width: 0px;
	top: 8px;
	width: 150px;
	height: 60px;
	z-index: -1;
   opacity: 0.9;
   transition: ease-in-out all,0.5s;
}
.cardbox{
   display: flex;
   flex-direction: row;
   justify-content: space-evenly;
   flex-wrap: wrap;
}
.card{
   width: 300px;
   height: 300px;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   margin: 32px 0;
}
.card-parent{
   position: relative;
}
.hovercard{
   margin-top: 80px;
   width: 300px;
   height: 600px;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   span{
      margin-top: 25%;
   }
}
.cardpop{
   width: 600px;
   height: 600px;
   z-index: 1000;
   position: fixed;
   top: 2%;
   left: 50%;
   display: flex;
   flex-direction: column;
   align-items: flex-start;
   background: #fff;
   box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
   box-sizing: border-box;
   color: #333;
   text-align: left;
   transform: translateX(-50%) !important;
   opacity: 0;
}
.card-details{
   display: flex;
   flex-direction: column;
   margin-right: auto;
   margin-left: 16px;
   overflow: hidden;
   position: relative;
   width: 100%;
   height: 100%;
   h3{
      margin-top: 50px;
   }
   a{
      text-decoration: none;
   }
   span{
      margin-top: 16px;
   }
   .show-site{
      position: absolute;
      bottom: 24px;
      left: 0px;
      font-size: 24px;
      padding: 8px;
      background-color: #e31b6d;
      color: white;
      font-weight: 300;
      font-family: 'Times New Roman', Times, serif;
      opacity: 0.9;
      border-radius: 2px;
      cursor: pointer;
      transition: ease-in-out all 0.5s;
      svg{
         transform: rotate(360deg) translateY(4.5px) !important;
      }
   }
   .show-site:hover{
      background-color: white;
      color:#e31b6d;
   }
}
.card-p{
   line-height: 24px;
   font-size: 12px;
   margin-right: 24px;
}
.imgcontroll{
   position: relative;
   align-items: center;
   width: 100%;
   height: 600px;
   border-bottom: 2px solid black;
   overflow: hidden;
   img {
      width: 100%;
      object-fit: contain;
      object-position: center;
      height: 300px;
   }
}
#close{
   position: absolute;
   bottom: 0px;
   right: 0px;
   font-size: 40px;
}
.awssld {height: 100%;}
.shadowbg {
	width: 100vw;
	position: fixed;
	top: 0;
	right: 0;
	background: lightgray;
	opacity: 0.6;
	height: 100vh;
	z-index: 500;
}
@media only screen and (min-width: 300px) and (max-width: 800px) {
   .cardpop{width: 300px;}
   .Toastify__toast-container--top-center{
      transform: translateX(0%) !important;
   }
}
@media only screen and (max-width: 300px) {
   .cardpop{display: none;}
   .Toastify__toast-container--top-center{display: none;}
}